# Data Science Tools and Ecosystem are summarized.

## **Objectives:**
- List of popular languages for Data Science
- Libraries used by Data Scientists
- Data Science Tools
- Arithmetic expressions in Python
- Markdown

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. SQL
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Tensorflow
2. Scikit-Learn
3. Keras
4. Pandas
5. Numpy

### Data Science Tools
1. Hadoop
2. Spark
3. Jupyter Lab

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
x = (3*4) + 5
print(x)

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
x = 200 / 60 
print(x)

3.3333333333333335

## Author:
Raul Rodolfo Trevino Vazquez